<!DOCTYPE html>
<html lang="en"
xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Page</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
<link rel="stylesheet" type="text/css" th:href="@{/css/star-rating-svg.css}">
	<style>
		.body {
			height: auto;
			/*background-image: url([[@{/images/green-design.jpg}]]);*/
			background-position: center;
			background-blend-mode: darken;
			background-attachment: fixed;
			background-repeat: no-repeat;

		}

		.mycategories {
			
			max-width: 90%;
			overflow-x:hidden;
			margin: 10px auto;
			border: 1px solid white;
			
		}
		.mycategories:hover{
			overflow-x:auto;
		}

		.mycategories .card {
			flex: 0 0 auto;
			text-align:center
		}
		
		.dropdown-item:hover{
			background-color:lime;
		}
		
		
		
		/* width */
::-webkit-scrollbar {
  width: 10px;
 
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
	</style>

</head>

<body>
	<div class="m-0">

		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" th:href="@{/}"><img src="https://ik.imagekit.io/aeonkatana/logo2_HGKTtB_eC.png?ik-sdk-version=javascript-1.4.3&updatedAt=1644313806003" alt="" width="100px"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
				aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse text-center" id="navbarTogglerDemo01">
				<form th:action="@{/search}" class="form-inline my-2 my-lg-0">
					<input type="text" name="search" id="" class="form-control mr-sm-2" style="width: 350px;"
						placeholder="Search">
					<button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
				</form>

				<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
					<li class="nav-item dropdown mr-5">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Categories
						</a>
						<div class="dropdown-menu bg-dark text-light" aria-labelledby="navbarDropdownMenuLink" >
						<th:block th:each="categ : ${categories}">
							<a class="dropdown-item" th:href="@{/category/{categs}(categs=${categ.categoryname})}" th:text="${categ.categoryname}">Category 1</a>
						</th:block>
						</div>
					</li>
					<li class="nav-item mr-5">
						<a class="nav-link" th:href="@{/mycart}"> <i class="fa-solid fa-cart-shopping text-light mx-1"></i> Cart <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item mr-5">
						<a class="nav-link" th:href="@{/orders/mydelivery}" tabindex="-1" aria-disabled="true"> <i class="fa-solid fa-bag-shopping text-light mx-1"></i>Purchases</a>
					</li>
					<li class="nav-item mr-5">
						<a class="nav-link" href="#" sec:authorize="isAuthenticated()"> <i class="fa-solid text-light fa-user"></i>  My Profile</a>
						
						<a class="nav-link" th:href="@{/login-page}" sec:authorize="!isAuthenticated()">Login</a>
					</li>
					<li class="nav-item mr-5" sec:authorize="hasAuthority('ADMIN')">
					  <a class="nav-link" th:href="@{/admin/dashboard}" ><i class="fa-solid fa-terminal"></i> Admin</a>
					</li>
					

				</ul>

			</div>

		</nav>
	</div>

	<div class="body">
		<div class="container text-center">
		    [[${featuresize}]]
			<h4 class="card-title mt-5 text-center"><img th:src="@{/images/featured.png}" alt=""></h4>
			<div class="mycategories mb-5 p-2 text-center d-flex " th:classappend="${featuresize > 5 ? 'justify-content-left' : 'justify-content-center'}">
				<div class="card mx-3 my-1" style="width: 16rem;" th:each="feature : ${featured}">			
					
					<img th:src="${'https://ik.imagekit.io/aeonkatana/' + feature.prodimgurl}" style="width:100%;height:150px;border:1px solid black;" alt="" class="card-img-top">
					<div class="card-body" style="height:200px;">
						<h5 class="card-title m-1 text-center" th:text="${feature.prodname}">Sample Product 1</h5>
						<p class="card-text m-0" th:text="${'Price :' + feature.getPriceRange()}"></p>
						<p class="card-text m-0" th:text="${'Stock :' + feature.prodstock}">Price : 5000</p>
						<div class="m-0 my-rating" th:data-rating="${feature.prodrating}" th:id="${'rating' + feature.id}" th:pid=${feature.id}></div>
						<a th:href="@{/product/{id}(id=${feature.id})}"
							class="btn btn-success form-control my-2">View Product</a>
					</div>
					
				</div>
			</div>
			<h4 class="card-title mt-5 text-center"><img th:src="@{/images/categorylogo.png}" alt="" width="200px;"></h4>
			<div class="mycategories mb-5 p-2 text-center d-flex" th:if="${#lists.size(categories) >= 5}">
				<div class="card m-1" style="width: 12rem;" th:each="category : ${categories}">
					<img src="https://ik.imagekit.io/aeonkatana/bikebg_gA_Xrv70s.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1644313804269" alt="" class="card-img-top">
					<div class="card-body" >
						<h5 class="card-title" th:text="${category.categoryname}">Bicycle Parts</h5>
						<a th:href="@{/category/{categ}(categ=${category.categoryname})}"
							class="btn btn-success form-control">Shop Now</a>
					</div>
				</div>
			</div>
			<div class="mycategories mb-5 p-2 text-center d-flex justify-content-center" th:unless="${#lists.size(categories) >= 5}">
				<div class="card m-1" style="width: 12rem;" th:each="category : ${categories}">
					<img th:src="@{/images/bikebg.jpg}" alt="" class="card-img-top">
					<div class="card-body" >
						<h5 class="card-title" th:text="${category.categoryname}">Bicycle Parts</h5>
						<a th:href="@{/category/{categ}(categ=${category.categoryname})}"
							class="btn btn-success form-control">Shop Now</a>
					</div>
				</div>
			</div>
			<h4 class="card-title mt-5 text-center" th:if="${onsalesize > 0}"><img th:src="@{/images/onsale.png}" alt=""></h4>
			<div class="mycategories mb-5 p-2 text-center d-flex">
				<div class="card mx-3 my-1" style="width: 16rem;" th:each="sale : ${onsale}">			
					<img th:src="${'https://ik.imagekit.io/aeonkatana/' + sale.prodimgurl}" style="width:100%;height:150px;border:1px solid black;" alt="" class="card-img-top">
					<div class="card-body" style="height:200px;">
						<h5 class="card-title m-1 text-center" th:text="${sale.prodname}">Sample Product 1</h5>
						<p class="card-text m-0" th:text="${'Price :' + sale.getPriceRange()}"></p>
						<p class="card-text m-0" th:text="${'Stock :' + sale.getProdstock()}">Price : 5000</p>
						<div class="m-0 my-rating" th:data-rating="${sale.getProdrating()}" th:id="${'rating' + sale.id}" th:pid=${sale.id}></div>
						<a th:href="@{/product/{id}(id=${sale.id})}"
							class="btn btn-success form-control my-2">View Product</a>
					</div>
					
				</div>
			</div>
		</div>

	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script th:src="@{/js/bootstrap.bundle.js}"></script>
<script th:src="@{/js/jquery.star-rating-svg.js}"></script>
		
		<script src="https://kit.fontawesome.com/5586b4d731.js"
		crossorigin="anonymous"></script>
<script>
$(document).ready(function(){
	$(".my-rating").starRating({
	    starSize: 15,
	    readOnly : true,
	    callback: function(currentRating, $el){
	    	
	    }
	});
	
})

</script>		
</body>

</html>