<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <style>
       


    </style>
</head>
<body class="bg-dark">
  <!--  <div class="myimagecontainer">
        <img th:src="@{/images/jw.png}" alt="">
    </div> -->
    <div class="m-0">

		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" th:href="@{/}"><img src="https://ik.imagekit.io/aeonkatana/logo2_HGKTtB_eC.png?ik-sdk-version=javascript-1.4.3&updatedAt=1644313806003" alt="" width="100px"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
				aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse text-center" id="navbarTogglerDemo01">
				<form th:action="@{/search}" class="form-inline my-2 my-lg-0">
					<input type="text" name="search" id="" class="form-control mr-sm-2" style="width: 400px;"
						placeholder="Search">
					<button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
				</form>

				<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
					<li class="nav-item dropdown mr-5">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Categories
						</a>
						<div class="dropdown-menu bg-dark text-light" aria-labelledby="navbarDropdownMenuLink" >
						<th:block th:each="categ : ${categories}">
							<a class="dropdown-item" th:href="@{/category/{categs}(categs=${categ.categoryname})}" th:text="${categ.categoryname}">Category 1</a>
						</th:block>
						</div>
					</li>
					<li class="nav-item mr-5">
						<a class="nav-link" th:href="@{/mycart}"> <i class="fa-solid fa-cart-shopping text-light mx-1"></i> Cart <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item mr-5">
						<a class="nav-link" th:href="@{/orders/mydelivery}" tabindex="-1" aria-disabled="true"> <i class="fa-solid fa-bag-shopping text-light mx-1"></i>Purchases</a>
					</li>
					<li class="nav-item mr-5">
						<a class="nav-link" href="#" sec:authorize="isAuthenticated()">My Profile</a>
						<a class="nav-link" th:href="@{/login-page}" sec:authorize="!isAuthenticated()">Login</a>
					</li>

					

				</ul>

			</div>

		</nav>
	</div>
   <div class="container"> 
     <div class="mycard card my-2" style="margin-left: auto;margin-right:auto;min-width:25rem;max-width:20rem;">  
     
 		<div class="justify-content-center text-center">
      <img th:src="@{/images/jw.png}" alt="" style="width: 150px;"><br>
       
 		</div>
        
         <!-- <div class="alert alert-success mx-3">
            Registration Successful!
         </div> -->
         <p class="text-secondary text-center">Please login to continue</p>
         <hr style="width: 90%; margin: 10px auto;">   
         <div class="alert alert-danger alert-dismissible fade show m-4" role="alert" th:if="${param.error}">
  <strong>[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</strong> 
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

	
    <form th:action="@{/perform-login}" method="POST">
            <div class="row m-4">
                <div class="col">
                    <label>Username</label>
                    <input type="text" name="username" id="" placeholder="Email" class="form-control">
                </div>
            </div>
            <div class="row m-4">
                <div class="col">
                    <label>Password</label>
                    <input type="password" name="pass" id="" placeholder="Password" class="form-control">
                </div>
            </div>
        <div class="row m-4">
            <div class="col">
                <input type="submit" class="form-control btn btn-success" value="Login">
            </div>
        </div>
        <div class="row m-4">
            <div class="col">
                <a type="button" th:href="@{/register-page}"  id="register" class="form-control btn btn-secondary" > Register</a>
            </div>
        </div>
        
      </form>
     </div>
   </div>
	<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
	<script>
	
		$(document).ready(function(){
			if(!!window.performance && window.performance.navigation.type == 2)
{
    window.location.reload();
}

	

		});
	
	</script>
	<script src="https://kit.fontawesome.com/5586b4d731.js"
		crossorigin="anonymous"></script>
</body>
</html>