<!DOCTYPE html>
<html lang="en"
xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My Cart</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
 <script src="https://kit.fontawesome.com/5586b4d731.js" crossorigin="anonymous"></script>

<style>

.condition-true{
	opacity : 0.3;
	pointer-events:none;
}

</style>

</head>

<body>
	<div class=" m-0">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" th:href="@{/}"><img src="https://ik.imagekit.io/aeonkatana/logo2_HGKTtB_eC.png?ik-sdk-version=javascript-1.4.3&updatedAt=1644313806003" alt="" width="100px"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
				aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse text-center" id="navbarTogglerDemo01">
				<form th:action="@{/search}" class="form-inline my-2 my-lg-0">
					<input type="text" name="search" id="" class="form-control mr-sm-2" style="width: 350px;"
						placeholder="Search">
					<button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
				</form>

				<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
					<li class="nav-item dropdown mr-5">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Categories
						</a>
						<div class="dropdown-menu bg-dark text-light" aria-labelledby="navbarDropdownMenuLink" >
						<th:block th:each="categ : ${categories}">
							<a class="dropdown-item" th:href="@{/category/{categs}(categs=${categ.categoryname})}" th:text="${categ.categoryname}">Category 1</a>
						</th:block>
						</div>
					</li>
					<li class="nav-item mr-5">
						<a class="nav-link" th:href="@{/mycart}"> <i class="fa-solid fa-cart-shopping text-light mx-1"></i> Cart <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item mr-5">
						<a class="nav-link" th:href="@{/orders/mydelivery}" tabindex="-1" aria-disabled="true"> <i class="fa-solid fa-bag-shopping text-light mx-1"></i>Purchases</a>
					</li>
					<li class="nav-item mr-5">
						<a class="nav-link" href="#" sec:authorize="isAuthenticated()"><i class="fa-solid text-light fa-user"> </i> My Profile</a>
						<a class="nav-link" th:href="@{/login-page}" sec:authorize="!isAuthenticated()">Login</a>
					</li>
					<li class="nav-item mr-5" sec:authorize="hasAuthority('ADMIN')">
					  <a class="nav-link" th:href="@{/admin/dashboard}" ><i class="fa-solid fa-terminal"></i> Admin</a>
					</li>
					

				</ul>

			</div>

		</nav>
	</div>

	<div class="container card my-5 p-3 " style="width: 80%;">
		<h3 class="card-title"> My Cart</h3>
		<div class="container m-2 p-3" th:if="${mycart != null && mycart != 0}">

			<div class="card m-2 container thiscart" th:each="cartItems : ${mycart}" th:classappend="${cartItems.variation.stocks == 0 ? 'condition-true' : ''}">
			
				<div class="row no-gutters" th:id="'cartbox' + ${cartItems.variation.id}" th:pid="${cartItems.variation.id}">
									<button class="btn btn-danger remover" th:pid="${cartItems.bikeprod.id}" th:vid="${cartItems.variation.id}" style="z-index: 1;position:absolute;right:0;">Remove</button>
				
					<div class="col-md-4">
						<img th:src="${'https://ik.imagekit.io/aeonkatana/' + cartItems.bikeprod.prodimgurl}" alt="" class="card-img" width="100%" height="100%;">
					</div>
					<div class="col-md-8">
						<div class="card-body text-center">
							<h5 class="m-2 card-title" th:stock="${cartItems.variation.stocks}"
								><a th:href="@{/product/{id}(id=${cartItems.bikeprod.id})}" th:text="${cartItems.bikeprod.prodname}"></a></h5>
								
						<p class="m-2" th:text="${'Variation :' + cartItems.variation.name}"></p>
						<p class="m-2" th:text="${'Stocks : ' + cartItems.variation.stocks}">Stocks</p>
						<p class="m-2 itemprice" th:id="'price' + ${cartItems.variation.id}"
								th:pid="${cartItems.variation.id}" th:text="${cartItems.qtyPrice}"> 5,000</p>
							<form class="form-inline justify-content-center">
								<button type="button" class="btn text-center minusbtn"
									th:id="'minus' + ${cartItems.variation.id}" th:pid="${cartItems.bikeprod.id}"
									th:stock="${cartItems.variation.stocks}"
									th:vid="${cartItems.variation.id}">-</button>
								<input type="number" class="form-control" min="1" th:pid="${cartItems.variation.id}"
									th:id="'box' + ${cartItems.variation.id}" th:value="${cartItems.quantity}"
									style="width:60px;text-align: center;" readonly>
								<button type="button" class="btn text-center addbtn"
									th:id="'itemid' + ${cartItems.variation.id}" th:pid="${cartItems.bikeprod.id}"
									th:stock="${cartItems.variation.stocks}"
									th:vid="${cartItems.variation.id}">+</button>	
							</form>
							
						</div>
					</div>
				</div>
			</div>

			<h4 class="text-right m-2"> Total Price : <i id="totalPrice">Total Price : 0</i>
			</h4>
			<a href="#" id="checkout" class="btn btn-success float-right m-2">Checkout</a>
		</div>
		<div class="container m-2 p-3 text-center" th:if="${mycart == null}">
			<h4 class="text-center m-3" th:text="${'You need to login first!'}"></h4>
			<a class="btn btn-success m-3" th:href="@{/login-page}">Go To Login Page</a>
		</div>
		<div class="container m-2 p-3 text-center" th:if="${mycart == 0}">
			<i class="fa-solid fa-cart-shopping fa-2x"></i>
			<h4 class="text-center m-3" th:text="${'Your cart is empty'}"></h4>
			<a class="btn btn-success m-3" th:href="@{/}">Shop Now!</a>
		</div>


	</div>
	<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
	<script th:src="@{js/cart.js}"></script>

</body>

</html>