<!DOCTYPE html>
<html lang="en"
xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Product List</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/jquery.simplePagination.js}"></script>
<script th:inline="javascript" th:src="@{/js/prodlist.js}"></script>
<script th:src="@{/js/bootstrap.bundle.js}"></script>
<script th:src="@{/js/jquery.star-rating-svg.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/star-rating-svg.css}">
<link rel="stylesheet" th:href="@{/css/simplePagination.css}">
	<style>
		.mycontainer {
			width: 90%;
			margin-left: auto;
			margin-right: auto;

		}
		

		.pagination {
			margin: 20px auto;
			justify-content: center;
		}
	</style>

</head>

<body>
	<div class="card m-0">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" th:href="@{/}"><img src="https://ik.imagekit.io/aeonkatana/logo2_HGKTtB_eC.png?ik-sdk-version=javascript-1.4.3&updatedAt=1644313806003" alt="" width="100px"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
				aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
				<form th:action="@{/search}" class="form-inline my-2 my-lg-0">
					<input type="text" name="search" id="" class="form-control mr-sm-2" style="width: 400px;"
						placeholder="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>

				<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
					<li class="nav-item dropdown mr-5">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Categories
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<th:block th:each="categ : ${categories}">
							<a class="dropdown-item" th:href="@{/category/{categs}(categs=${categ.categoryname})}" th:text="${categ.categoryname}">Category 1</a>
						</th:block>
						</div>
					</li>
					<li class="nav-item mr-5">
						<a class="nav-link" th:href="@{/mycart}"> Cart <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item mr-5">
						<a class="nav-link" th:href="@{/orders/delivery}" tabindex="-1" aria-disabled="true">Purchases</a>
					</li>
					<li class="nav-item mr-5">
						<a class="nav-link" href="#">My Profile</a>
					</li>
				</ul>

			</div>

		</nav>
	</div>

	<div class="mycontainer container my-2" style="height: 500px;overflow-y: auto;" th:if="${totalpage != 0}">
	   <h3 class="text-center mt-3 text-primary" th:if="${categoryname != null}" th:text="${'Category : ' + categoryname}"></h3>
	   <p class="text-left mt-3" th:unless="${categoryname != null}">Found [[${totalitems}]] items for '[[${parameter}]]'</p>
		<div class="row m-5">
			<div class="col d-flex flex-wrap justify-content-center" >
				<div class="card mycard mx-3 my-1" style="width: 16rem;" th:each="bikeprod : ${products}">
					<img th:src="@{/images/bikebg.jpg}" alt="" class="card-img-top">
					<div class="card-body" style="height:200px;">
						<h5 class="card-title m-1 text-center" th:text="${bikeprod.prodname}">Sample Product 1</h5>
						<p class="card-text m-0" th:text="${'Price :' + bikeprod.getPriceRange()}"></p>
						<p class="card-text m-0" th:text="${'Stock :' + ' ' + bikeprod.getProdStocks()}">Price : 5000</p>
						<div class="m-0 my-rating" th:data-rating="${bikeprod.prodrating}" th:id="${'rating' + bikeprod.id}" th:pid=${bikeprod.id}></div>
						<a th:href="@{/product/{id}(id=${bikeprod.id})}"
							class="btn btn-success form-control my-2">View Product</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="mycontainer container card my-5 p-5" th:unless="${totalpage != 0}">
		 <h3 class="text-center mt-4 text-danger" th:text="${categoryname}"></h3>
		<h4 class="text-center m-3" >Either all the products are out stock or the seller haven't added items on this category yet</h4>
		<h4 class="text-center m-3" >Please come back again later</h4>
	</div>
	<div class="text-center">
		
		<nav aria-label="Page navigation example" class="mypage" >
			<ul class="pagination m-2" th:if="${totalpage > 1}" id="normal">
				
			</ul>
			<ul th:unless="${totalpage > 1}">
				
			</ul>
		</nav>
	</div>
</body>
<script th:inline="javascript">
$(document).ready(function(){
	
	
	
	//$(".my-rating").starRating('setReadOnly', true);
		

	const text = /*[[${url}]]*/ "";
	const param = /*[[${parameter}]]*/ "";
	console.log(text + " " + param);
	let suffix =  "";
	if(text == "/search/page/"){
		suffix = "?search=" + param; 
	}
	else{
		suffix = "";
	}
	
	 $("#normal").pagination({
		pages : "[[${totalpage}]]",
		currentPage : "[[${currentPage}]]",
		selectOnClick : false, 
		hrefTextPrefix : text,
		hrefTextSuffix : suffix,
        cssStyle: 'light-theme'
   });
	
});
</script>
</html>