<!DOCTYPE html>
<html lang="en"
 xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Registration</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>

<style>
</style>
</head>

<body>
<div class="m-0">

		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" th:href="@{/}"><img src="https://ik.imagekit.io/aeonkatana/logo2_HGKTtB_eC.png?ik-sdk-version=javascript-1.4.3&updatedAt=1644313806003" alt="" width="100px"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
				aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse text-center" id="navbarTogglerDemo01">
				<form th:action="@{/search}" class="form-inline my-2 my-lg-0">
					<input type="text" name="search" id="" class="form-control mr-sm-2" style="width: 400px;"
						placeholder="Search">
					<button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
				</form>

				<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
					<li class="nav-item dropdown mr-5">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Categories
						</a>
						<div class="dropdown-menu bg-dark text-light" aria-labelledby="navbarDropdownMenuLink" >
						<th:block th:each="categ : ${categories}">
							<a class="dropdown-item" th:href="@{/category/{categs}(categs=${categ.categoryname})}" th:text="${categ.categoryname}">Category 1</a>
						</th:block>
						</div>
					</li>
					<li class="nav-item mr-5">
						<a class="nav-link" th:href="@{/mycart}"> <i class="fa-solid fa-cart-shopping text-light mx-1"></i> Cart <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item mr-5">
						<a class="nav-link" th:href="@{/orders/mydelivery}" tabindex="-1" aria-disabled="true"> <i class="fa-solid fa-bag-shopping text-light mx-1"></i>Purchases</a>
					</li>
					<li class="nav-item mr-5">
						<a class="nav-link" href="#" sec:authorize="isAuthenticated()">My Profile</a>
						<a class="nav-link" href="#" sec:authorize="!isAuthenticated()">Login</a>
					</li>

					

				</ul>

			</div>

		</nav>
	</div>

	<div class="mycard card p-2 my-5"
		style="margin-left: auto; margin-right: auto; min-width: 25rem; max-width: 30rem;">
		<div class="justify-content-center text-center">
			<img th:src="@{/images/jw.png}" alt="" style="width: 150px;"><br>
		</div>
		
		<div th:if="${error}"class="alert alert-warning alert-dismissible fade show" id="alert"
			role="alert">
			<strong id="strong">Email</strong> is already taken!
			<button type="button" class="btn-close" data-bs-dismiss="alert"
				aria-label="Close"></button>
		</div>
		<form id="regform" th:action="@{/register}" method="POST">
			<div class="myform overflow-auto">
				<div class="row m-2">
					<div class="col">
						<input type="text" name="fname" id="fname" class="form-control"
							placeholder="First name" value="" required>
					</div>
					<div class="col">
						<input type="text" name="lname" id="lname" class="form-control"
							placeholder="Last name" value="" required>
					</div>
				</div>
				<div class="row m-2">
					<div class="col">
						<input type="email" name="email" id="email" class="form-control"
							placeholder="Email Address " value=""required>
					</div>
				</div>
				<div class="row m-2">
					<div class="col">
						<input type="text" name="username" id="username"
							class="form-control" placeholder="Username" value="" required>
					</div>
				</div>
				<div class="row m-2">
					<div class="col">
						<input type="password" name="password" id="pass"
							class="form-control" placeholder="Password" required>
					</div>
				</div>
				<div class="row m-2">
					<div class="col">
						<input type="password" name="repass" id="repass"
							class="form-control" placeholder="Re-type password" required>
					</div>
				</div>
				<div class="row m-2">
					<div class="col-4">
						<input type="number" name="streetno" class="form-control street"
							placeholder="Street No." min="0" value="" required>
					</div>
					<div class="col-8">
						<input type="text" name="streetname"
							class="form-control streetname" value="" placeholder="Street Name"
							required>
					</div>
				</div>
				<div class="row m-2">
					<div class="col-5">
						<input type="text" name="baranngay" id="baranggay" required
							class="form-control street" value="" placeholder="Baranggay">
					</div>
					<div class="col-7">
						<input type="text" name="city" id="city"
							class="form-control streetname" placeholder="City" value="" required>
					</div>
				</div>
				<div class="row m-2">
					<div class="col">
						<input type="number" name="zipcode" id="zipcode"
							class="form-control streetname" placeholder="Zip Code" value="" required>
					</div>
				</div>
			</div>
			<div class="row m-2">
				<div class="col">
					<input type="submit" id="register"
						class="form-control btn btn-success" value="Register">
				</div>
			</div>

		</form>
	</div>

	<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
	<script>
		$(document)
				.ready(
						function() {

							$("#register").prop("disabled", true);

							$("#pass").keyup(
									function() {
										if ($(this).val() === $("#repass")
												.val()
												&& $(this).val() !== "") {
											$(this).css({
												"border" : "2px solid green"
											});
											$("#repass").css({
												"border" : "2px solid green"
											});
											$("#register").prop("disabled",
													false);
										} else {
											$("#repass").css({
												"border" : "2px solid red"
											});
											$("#register").prop("disabled",
													true);
										}
									});

							$("#repass").keyup(
									function() {
										if ($(this).val() === $("#pass").val()
												&& $(this).val() !== "") {
											$(this).css({
												"border" : "2px solid green"
											});
											$("#register").prop("disabled",
													false);
										} else {
											$(this).css({
												"border" : "2px solid red"
											});
											$("#register").prop("disabled",
													true);
										}
									});
							
							$("#register").click(function(){
								$(this).text("Please wait");
								$(this).prop("disabled", true);
							});

						});
	</script>
<script src="https://kit.fontawesome.com/5586b4d731.js"
		crossorigin="anonymous"></script>
</body>

</html>